data
data-*
datasets
*.jsonl
.env
.vscode
pys/parse_group_git.py
pymysql
/__pycache__/
/pys/tmp_parse/tmp
bak/
/nohups/
shells/nohups
/*.pyc
repo_graphs/__pycache__/
process_utils/__pycache__
test/outputs/
repo_graphs/attributes/__pycache__
testcase/__pycache__
nohup_testcase.log
shells/nohup_sql_data.log
*.svv
*.swn
*.swo
*.swp
*.swl
*.swm
output/
pys/assist/__pycache__/
pys/__pycache__/
clean/bigcode_dataset/.git-bak
__pycache__